<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS File Storage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='whyUs_style.css')}}"> <!-- Link your CSS file here -->
</head>
<body>
    <div class="container">
        <h1>Why use our DApp</h1>
<div class="process-section">
            <div class="process-image">
                <img src="images/meta.png" alt="Verification Image">
            </div>
            <div class="process-description">
                <h2>Step 1:Make MetaMask Account</h2>
                <p>Your document's hash is checked against existing records. If it matches, you will see a verification success message, ensuring your document's authenticity.</p>
            </div>
        </div>

        <div class="process-section">
            <div class="process-image">
                <img src="images/upload.png" alt="Upload Image">
            </div>
            <div class="process-description">
                <h2>Step 2: Upload Your File</h2>
                <p>Select a file from your device, enter a unique ID, and click "Upload to IPFS and Store on Blockchain". This process will upload your file to IPFS and store the reference on the blockchain.</p>
            </div>
        </div>

        <div class="process-section">
            <div class="process-image">
                <img src="images/verify.png" alt="Verification Image">
            </div>
            <div class="process-description">
                <h2>Step 3: Verification</h2>
                <p>Your document's hash is checked against existing records. If it matches, you will see a verification success message, ensuring your document's authenticity.</p>
            </div>
        </div>

        <div class="process-section">
            <div class="process-image">
                <img src="images/retrieve.png" alt="Retrieve Image">
            </div>
            <div class="process-description">
                <h2>Step 4: Retrieve Your File</h2>
                <p>To retrieve a file, enter the same ID number used during upload. The IPFS hash stored on the blockchain will be used to fetch your file directly from IPFS.</p>
            </div>
        </div>

        
    </body>
</html>